<!--
    Author: Nikko Martin Ignacio
    Student ID: 301294860
    Date: October 5, 2023
    Filename: partials/about_the_owner.ejs  
-->

<div class="left">
    <img src="aboutme1.jpg" alt="owner pic">
</div>
<div class="right">
    <h3>About the <span>Owner</span></h3>
    <p>As a passionate software engineering technician currently pursuing his education at Centennial College. Nikko Martin Ignacio is a student with keen interest in web design, graphics design, and product designs.</p>
    <p>He's always been drawn to the world of technology and the endless possibilities it offers. His journey in the field of software engineering began with a curiosity to understand how things work and the desire to create solutions that simplify complex problems.</p>
</div>
