<div id="banner">
    <img src="banner.jpg" alt = "nice office" class="banner-img">
    <div class="banner-background">
        <p class="banner-header-information">Welcome to<span>NMI Studios</span>Where Imagination Meets Innovation!</p>
        <a href="contact.html" class="banner-link">Let's Talk</a>
    </div>
</div>
