<!--
    Author: Nikko Martin Ignacio
    Student ID: 301294860
    Date: October 5, 2023
    Filename: partials/footer.ejs  
-->

<div class="copyright">
    <p>© Copyright | Nikko Martin Ignacio | 301294860 | COMP229-008 - Fall 2023</p>
</div>
