<!--
    Author: Nikko Martin Ignacio
    Student ID: 301294860
    Date: October 5, 2023
    Filename: partials/main.ejs  
-->

<h3>Services We Offered</h3>
<ul>
    <li>
        <h6>Web <span>Design</span></h6>
        <img src="responsive-design.png" alt="Web design icon" class="icon">
        <p>Elevate your online presence with our expert Web Design services. From stunning aesthetics to seamless functionality, we create websites that leave a lasting impression.</p>
    </li>
    <li>
        <h6>Graphics <span>Design</span></h6>
        <img src="illustration.png" alt="Graphics design icon" class="icon">
        <p>Unlock the power of visual storytelling with our Graphics Design expertise. We transform concepts into captivating visuals that convey your message effectively.</p>
    </li>
    <li>
        <h6>Product <span>Design</span></h6>
        <img src="prototype.png" alt="Product design icon" class="icon">
        <p>Innovate and redefine user experiences with our Product Design solutions. We blend form and function to craft products that resonate with your target audience.</p>
    </li>
</ul>