<div id="mission-statement">
    <img src="mission_statement_background.png" alt="brush stroke" class="mission_statement_img">
    <h3>Mission Statement</h3>
    <p>At NMI Studios, our mission is to empower individuals and businesses with captivating online experiences. We believe in the transformative power of a well-crafted website, and our dedicated team of designers and developers is committed to bringing your digital vision to life. With creativity as our compass and innovation as our tool, we aim to design and build websites that not only meet but exceed your expectations. Our mission is to make the web a more beautiful and functional place, one site at a time.</p>
</div>