<nav>
    <ul>
        <li><b><a href="/about_us">About Us</a></b></li>
        <li><b><a href="/projects">Projects</a></b></li>
        <li><b><a href="/services">Services</a></b></li>
        <li><b><a href="/contact_us">Contact Us</a></b></li>
    </ul>
</nav>