<img src="random1.png" alt="random image only" class="random_image_design">

<div id="projects">
    <h3>Projects</h3>
    <ul>
        <a href="http://studentweb.cencol.ca/nignaci3/assignment2/" target="_blank">
            <li>
                <div>
                    <img src="project_blog.png" alt="blog project image">
                    <p>Blog Project</p>
                </div>
            </li>
        </a>
        <a href="http://studentweb.cencol.ca/nignaci3/assignment4/" target="_blank">
            <li>
            
                <div>
                    <img src="project_form.png" alt="form project image">
                    <p>Form Project</p>
                </div>
            </li>
        </a>
        <a href="http://studentweb.cencol.ca/nignaci3/individualproject/index.html" target="_blank">
            <li>
                <div>
                    <img src="project_realestate.jpg" alt="realestate project image">
                    <p>Real Estate Project</p>
                </div>
            </li>
        </a>
    </ul>
</div>
