body{
    font-family: Verdana, sans-serif;
    margin: 0 !important;
    overflow-x: hidden;  
}

#logo{
    width: 200px;
    position: absolute;
    left: 250px;
    z-index: 1;
}

nav{
    font-weight: bold !important;
    background-color: rgb(45, 45, 57);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

nav ul{
    text-align: right;
    width: 1080px;
    margin: 0 auto;
    padding: 0;
    
}

nav ul li{
    display: inline-block;
    vertical-align: top;
    padding: 15px 10px;
}

nav ul li:last-child{
    margin-right: 15px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    padding: 15px 10px;
    transition: .5s ease;
}

nav ul li a:hover{
    background-color: rgb(191, 132, 132);
    text-decoration: none;
    transition: .5s ease;
}

#banner{
    width: 100%;
    height: 650px;
}

.banner-background{
    width: 100%;
    min-height: 650px;
    position: relative;
    background-image: linear-gradient(to right, rgba(45, 45, 57,1), rgba(45, 45, 57, 0.03));
    top: -653px;
    z-index: 0;
}

.banner-header-information{
    margin: 0;
    padding: 0;
    top: 240px;
    position: relative;
    left: 253px;
    font-size: 30px;
    color: #fff;
}
.banner-header-information span{
    display: block;
    font-size: 158px;
    position: relative;
    left: -12px;
}

.banner-img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.banner-link{
    margin: 0;
    top: 270px;
    position: relative;
    left: 253px;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    background-color: rgb(191, 132, 132);
    padding: 10px 25px;
    border-radius: 10px;
    transition: 0.3s;
}

.banner-link:hover{
    background-color: #fff;
    color: rgb(191, 132, 132);
    transition: 0.3s;
}

main{
    text-align: center;
    color: #000;
    width: 1080px;
    position: relative;
    padding: 25px 0;
    margin: 0 auto;
    z-index: 1;
}

main h3{
    margin: 0px auto;
    padding-bottom: 13px;
    position: relative;
    border-bottom: 3px solid rgb(191, 132, 132);
    width: 100%;
    font-size: 25px;
}

main h6{
    font-size: 35px;
    margin: 20px 0 40px;
}

main h6 span{
    color: rgb(191, 132, 132);
    display: block;
}

main ul{
    padding: 0;
}

main ul li{
    list-style-type: none;
    display: inline-block;
    vertical-align: top;
    width: 300px;
    margin: 0 20px 0;
    position: relative;
}

main ul li:first-child::after{
    content: "";
    border-right: 3px solid rgb(191, 132, 132);
    display: block;
    position: absolute;
    height: 150px;
    right: -21px;
    margin: 20px 0;
    top: 100px;
}

main ul li:last-child::after{
    content: "";
    border-right: 3px solid rgb(191, 132, 132);
    display: block;
    position: absolute;
    height: 150px;
    left: -21px;
    margin: 20px 0;
    top: 100px;
}

main ul li img{
    width: 50px;
    margin-bottom: 20px;
}

#section2{
    min-height: 330px;
    padding: 90px 0 0px;
}

.mission_statement_img{
    width: 1020px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

#mission-statement{
    text-align: center;
    color: #000;
    width: 670px;
    position: relative;
    padding: 25px 0;
    margin: 0 auto;
    z-index: 1;
}

#mission-statement h3{
    margin: 0px auto;
    padding-bottom: 13px;
    position: relative;
    border-bottom: 3px solid rgb(191, 132, 132);
    width: 240px;
}


footer{
    background-color: rgb(45, 45, 57);
    margin: 0;
    padding: 1px 0;
    color: #fff;
}

.footer-nav{
    background-color: rgb(191, 132, 132);
    text-align: center;
    font-weight: 400 !important;
}

.footer-nav ul{
    text-align: center;
}

.footer-nav ul li:last-child{
    margin-right: 0;
}

.footer-nav ul li a{
    color: rgb(45, 45, 57);
}

.footer-nav ul li a:hover{
    text-decoration: underline;
    background-color: none !important;
    transition: .5s ease;
}

.copyright{
    display: block;
    text-align: center;
}